.idea
.DS_Store
*.deb
*.bak
package/build/*
!package/build/.gitkeep
/src/easee
testdata/log/*
/src/internal/test/mocks/*
!testdata/log/.gitkeep
testdata/data/*
!testdata/data/.gitkeep
src/scratch
edge-easee-adapter
src/profile_full.cov
test_coverage.out
/src/cmd/data.db
