.idea
.DS_Store
*.deb
package/build/*
!package/build/.gitkeep
/package/debian/opt/thingsplex/easee/easee
/package/debian/DEBIAN/control
/src/easee
testdata/log/*
src/internal/test/mocks/*
!testdata/log/.gitkeep
testdata/data/*
!testdata/data/.gitkeep
src/scratch
edge-easee-adapter
src/profile_full.cov
test_coverage.out
