.idea
.DS_Store
*.deb
package/build/*
!package/build/.gitkeep
/package/debian/opt/thingsplex/easee/easee
/src/easee
testdata/log/*
!testdata/log/.gitkeep
testdata/data/*
!testdata/data/.gitkeep
src/scratch
edge-easee-adapter
/src/profile_full.cov
test_coverage.out
