Package: easee
Version: 0.0.3
Replaces: easee
Section: non-free/misc
Priority: optional
Architecture: armhf
Maintainer: Tor Erik Skårdal <skardal@hey.com>
Description: Easee adapter for the futurehome system
