Package: easee
Version: 0.0.4-2-g1817add
Replaces: easee
Section: non-free/misc
Priority: optional
Architecture: armhf
Maintainer: Tor Erik Skardal <skardal@hey.com>
Description: Easee adapter for the futurehome system
