Package: easee
Version: 2.2.5
Replaces: easee
Section: non-free/misc
Priority: optional
Architecture: armhf
Maintainer: Futurehome AS <support@futurehome.no>
Description: Futurehome Easee EV charger adapter.
